{% extends 'base.html.twig' %}

{% block title %}Chatbot{% endblock %}

{% block body %}
    <h1>Chatbot</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_Chatbot</th>
                <td>{{ chatbot.Id_Chatbot }}</td>
            </tr>
            <tr>
                <th>Datecreation_Chatbot</th>
                <td>{{ chatbot.DatecreationChatbot ? chatbot.DatecreationChatbot|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Contenu_Chatbot</th>
                <td>{{ chatbot.ContenuChatbot }}</td>
            </tr>
            <tr>
                <th>Autheur_Chatbot</th>
                <td>{{ chatbot.AutheurChatbot }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_chatbot_index') }}">back to list</a>

    <a href="{{ path('app_chatbot_edit', {'Id_Chatbot': chatbot.Id_Chatbot}) }}">edit</a>

    {{ include('chatbot/_delete_form.html.twig') }}
{% endblock %}
