{% extends 'contact.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
    <h1>Statistiques des réclamations</h1>
    <div class="stats-container">
        {% for stat in stats %}
            <p>{{ stat.categorie_reclamation }} : {{ stat.nombreReclamations }}</p>
        {% endfor %}

    </div>
    <a href="{{ path('app_reclamation_index') }}" class="btn btn-primary" style="transition: color 0.3s, border 0.3s, font-size 0.3s; border: none;">
        <i class="fas fa-eye me-2"></i>Back
    </a>

    <!-- Intégration du graphique -->
    <canvas id="myChart" width="0" height="400"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var labels = {{ labels|raw }};
        var data = {{ data|raw }};

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Nombre de réclamations par catégorie',
                    data: data,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}