{% extends 'base.html.twig' %}

{% block title %}Détails de la Ressource{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Détails de la Ressource</h1>

        <!-- Table des détails de la ressource avec un style moderne -->
        <div class="card shadow-sm">
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <th>Id_Ressource</th>
                            <td>{{ ressource.idRessource }}</td>
                        </tr>
                        <tr>
                            <th>Titre_Ressource</th>
                            <td>{{ ressource.TitreRessource }}</td>
                        </tr>
                        <tr>
                            <th>Description_Ressource</th>
                            <td>{{ ressource.DescriptionRessource }}</td>
                        </tr>
                        <tr>
                            <th>Type_Ressource</th>
                            <td>{{ ressource.TypeRessource.value }}</td>
                        </tr>
                        <tr>
                            <th>Id_Enseignant_Ressource</th>
                            <td>{{ ressource.IdEnseignatRessource }}</td>
                        </tr>
                        <tr>
                            <th>Url_Ressource</th>
                            <td><a href="{{ ressource.UrlRessource }}" target="_blank" class="text-primary">{{ ressource.UrlRessource }}</a></td>
                        </tr>
                        <tr>
                            <th>DateCreation_Ressource</th>
                            <td>{{ ressource.DateCreationRessource ? ressource.DateCreationRessource|date('Y-m-d H:i:s') : 'Non définie' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <!-- Bouton Retour à la liste -->
            <a href="{{ path('app_ressource_index') }}" class="btn btn-success btn-lg mx-2 px-4 py-2">
                <i class="bi bi-arrow-left-circle"></i> Retour à la liste
            </a>
            
            <!-- Bouton Editer -->
            <a href="{{ path('app_ressource_edit', {'Id_Ressource': ressource.idRessource}) }}" class="btn btn-warning btn-lg mx-2 px-4 py-2">
                <i class="bi bi-pencil-square"></i> Éditer
            </a>
            
            <!-- Formulaire de suppression -->
            {{ include('ressource/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
